* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #f0f3ef;
  font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", \5b8b\4f53, sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

div,
ul,
li {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.layer {
  width: 1190px;
  margin: 0 auto;
}
